{% macro render_field(field) %}
  {% if field.errors %}
    <div class="form-group row">
      {{ field.label(class_='col-sm-3 col-form-label') }}
      <div class="col-sm-9">
        {{ field(class_="form-control is-invalid", **kwargs)|safe }}
        {% for error in field.errors %}
          <div class="invalid-feedback">{{ error }}</div>
        {% endfor %}
      </div>
    </div>
  {% else %}
    <div class="form-group row">
      {{ field.label(class_='col-sm-3 col-form-label') }}
      <div class="col-sm-9">
        {{ field(class_="form-control", **kwargs)|safe }}
      </div>
    </div>
  {% endif %}
{% endmacro %}
